<div class="uno-main-page">
  <h1 class="text-center">Uno</h1>
  <div *ngIf="!game.players" class="uno-splash">
    <img
      alt="Angular Logo"
      src="../assets/uno-logo.png"
    />
    <h2>Новая игра!</h2>
    <button (click)="onCreateGame()" mat-raised-button color="accent">Создать</button>
  </div>

  <div *ngIf="game.players" class="uno-game">
    <h2 class="d-flex justify-content-between align-items-center">
      <span>{{ game.name }}</span>
      <button mat-stroked-button color="primary">
        Добавить игрока
      </button>
    </h2>
    <input type="text" [(ngModel)]="game.name">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th *ngFor="let player of game.players">
            <input type="text" [(ngModel)]="player.name">
<!--            {{ player.name }}-->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let round of game.rounds">
          <td>{{ round.id }}</td>
          <td *ngFor="let player of game.players">{{ player.rounds[round.id].score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
