.uno-main-page {
  margin: 0 12px;

  .uno-splash {
    text-align: center;

    img {
      width: 30%;
    }
  }

  table > thead > tr > th:first-child {
    min-width: 80px;
  }

  input {
    border: transparent;
    width: 100%;
    background: transparent;
    border: transparent;
    padding: 0;

    &:focus, &:active {
      border: transparent;
      outline: transparent;
    }
  }

  .table-dark input {
    color: #fff;
  }

  .uno-player-name {
    position: relative;

    .uno-progress-line {
      position: absolute;
      bottom: 0;
      height: 2px;
      left: 0;
      right: 0;
      background: #68a9f0;
      transition: right 0.25s ease 0s;
    }
  }
}
